@model Apartments.Apartment

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDApartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDApartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityIDCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityIDCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIDUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIDUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityIDCity1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityIDCity1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIDUser1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIDUser1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDApartment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
