@model IEnumerable<Apartments.Apartment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDApartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.CityIDCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIDUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityIDCity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIDUser1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDApartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CityIDCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserIDUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityIDCity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserIDUser1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IDApartment }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDApartment }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDApartment })
        </td>
    </tr>
}

</table>
